.HeroBtn
{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
    padding: 10px 40px !important;
    background-color: rgba(239, 95, 37, 0.8) !important;
    transition: background-color 0.1s linear;
}

.HeroBtn:hover
{
     background-color : var(--orange) !important;
     opacity: 0.6;
}

.PreviewText
{
    width: 100%;
    max-width: 370px;
    margin: 14px auto 40px;
    font-family: Roboto;
    font-weight: 500;
}